body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

.star {
    font-size: 40px;
    cursor: pointer;
}

.stars {
    margin: 1px;
}

.progress-container {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}


.progress-bar {
    height: 100%;
    background-color: #4CAF50;
}